#reservation-wrapper {
    border: 1px solid black;
}
#reservation-wrapper .block {
    padding: 20px 10px;
}
#reservation-wrapper .block {
    border-bottom: 1px solid black;
}
#reservation-wrapper .block:last-of-type {
    border-bottom: none;
}
#reservation-wrapper .block .actions {
    text-align: right;
}
#reservation-wrapper .hidden {
    display: none;
}

#reservation-wrapper .section .block.submit {
    border-top: 1px solid black;
}
#reservation-wrapper .section.guests .block.guest:first-of-type {
    border-top: 1px solid black;
}

#reservation-wrapper .title {
    text-align: center;
}

#reservation-wrapper .action-remove-customer,
#reservation-wrapper .action-remove-guest {
    font-size: 300%;
    font-weight: bold;
    cursor: pointer;
    line-height: 35px;
}
#reservation-wrapper .action-remove-customer {
    display: none;
}
